.site-header {
	.sticky {
		border-bottom: 2px solid $gray-lighter;
	}

	body & {
		/* Override theme styles by increasing selector specificity */
		text-align: left;
		letter-spacing: 0;

		.site-title {

			a {
				color: $whiter;
				display: flex;
				align-items: center;
			}

			.site-title-text {
				display: inline-block;
				margin: {
					left: 1rem;
					bottom: 0;
				}

				@include breakpoint(medium) {
					margin-left: 2rem;
				}
			}

			img {
				max: {
					width: rem-calc(140);
					height: rem-calc(88);
				}

				@include breakpoint(medium) {
					max: {
						width: rem-calc(228);
						height: rem-calc(150);
					}
				}
			}
		}

		.grid-x {
			align-items: center;
		}

		.grid-container {
			padding: {
				top: .9rem;
				bottom: .9rem;
			}

			@include breakpoint(small only) {
				.top-bar-left {
					margin: 0;
				}
			}
		}
	}

	.association-logo {
		display: inline-block;

		img {
			max-height: rem-calc(60);
		}

		+ .logo {
			margin-left: 1rem;
		}

		&.ext img {
			height: rem-calc(44);
		}
	}

	@include breakpoint(small only) {
		.title-area {
			padding-right: 0;
		}
	}
}

.header-right-widget-area {
	text-align: right;

	.widget {
		margin-top: .6rem;
		padding-top: .6rem;
		border-top: 1px solid rgba( $whiter, .3 );
	}
}
