/* Override AgriFlex4 settings with a !default value. */
$nat-green: #0C6C31;
$nat-brown: #82591F;

$af4-colors: (
	primary: $nat-green,
	primary-light: $nat-brown,
	secondary: $nat-brown
);

$primary-color: map-get($af4-colors, primary);
$secondary-color: map-get($af4-colors, secondary);
